/* *{
  background: rgb(41, 46, 44) url("./images/math-bck.jpg") cover no-repeat;
} */
* {
  background-color: rgb(212, 203, 203);
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5rem;
}

.zero {
  display: flex;
  height: 3rem;
  align-items: flex-end;
  background-color: rgb(179, 169, 169);
  justify-content: flex-end;
  padding-right: 2px;
  outline: none;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;

  /* width: 60%; */
}

.textcalc {
  display: flex;
}

.container button {
  width: 50px;
  height: 4rem;
}

.container button:hover {
  border-bottom: 2px solid rgb(65, 63, 63);
}

.containers {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 50px 50px;
}

.button-keys {
  background-color: burlywood;
}

.containers button:hover {
  border-bottom: 2px solid rgb(65, 63, 63);
}

.operators {
  background-color: orangered;
}

.operators:hover {
  border-top: 2px solid rgb(20, 19, 19);
}

.q-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}

.ul li {
  list-style-type: none;
  align-self: center;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* home styling */
.home-cont {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
}

.home-cont p {
  width: 60%;
  display: flex;
  align-items: center;
}
