* {
  background-color: rgb(212, 203, 203);
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5rem;
}

.zero {
  display: flex;
  height: 3rem;
  align-items: flex-end;
  background-color: rgb(179, 169, 169);
  justify-content: flex-end;
  padding-right: 2px;
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; */
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container1 {
  /* display: flex; */
  /* align-self: center;
  width: 30rem; */
}

.textcal {
  display: flex;
  justify-content: flex-end;
}

.container {
  width: 100%;
}

/* .container button {
  width: 50px;
  height: 4rem;
} */

.container button:hover {
  border-bottom: 2px solid rgb(65, 63, 63);
}

.containers {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.button-keys.z{
  background-color: white;
  


}

.button-keys {
  background-color: burlywood;
  width: 6rem;
}

.containers button:hover {
  border-bottom: 2px solid rgb(65, 63, 63);
}

.operators {
  background-color: orangered;
  width: 6rem;
}

.operators:hover {
  border-top: 2px solid rgb(20, 19, 19);
}

.q-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 80vh;
}

.ul li {
  list-style-type: none;
  align-self: center;
  font-size: 1.5rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* home styling */
.home-cont {
  display: flex;
  flex-direction: column;
  padding: 10px;

  /* align-items: center; */
}

.home-cont {
  display: flex;
  justify-content: flex-start;
}

.home-cont p {
  width: 60%;
  display: flex;
  align-self: center;
}

/* styles.css */
.nav-unlisted {
  display: flex;
  justify-content: flex-end;
}

.nav-unlisted a {
  text-decoration: none;
  color: #000;
}

.nav-unlisted a:hover {
  color: green;
  cursor: pointer;
  border: 2px solid white;
}

.nav-unlisted li {
  color: red;
  margin: 0 0.8rem;
  font-size: 1.3rem;
  position: relative;
  list-style: none;
}

.nav-unlisted .current li {
  border-bottom: 2px solid black;
}
